.titulo {
    font-family: 'Italianno', cursive;
    font-size: 250%;
    text-align: center;
    color: rgb(250, 106, 207)
    }

.tittle{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 25;
    font-family: 'Shadows Into Light', cursive;
    color: hotpink;
}
.container{
    width: 60%;
    margin-left: 5em;
    max-width: 600px;
    height: 400px;
    display:inline-table;
    flex-grow:unset;

}
.containercont{
    width: 60%;
    margin-left: 5em;
    max-width: 600px;
    height: 400px;
    display:inline-table;
    flex-grow:unset;
}

.card img{
    width: 600px;
    height: 500px;
    border-radius: 6px;
    overflow: hidden;
    margin: 50px;
    text-align: center; 
}







