   
.novedades{
    width: 60%;
    margin-left: 5em;
    max-width: 600px;
    height: 400px;
    display:inline-table;
    flex-grow:unset;
    
    }
.cajita{
    background-color: aliceblue;
    width: 850px;
    height: 800px;
    border-radius: 50px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    display:inline-table;
}
.photo{
    text-align: center;
    
}

.cajitanew { 
    background-color: aqua;
    border-radius: 10px;
    margin-left: 22em;
    width: 400px;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
}
.cajitanew .items {
    margin-left: 35px;
    margin-top: 50px;
    text-align:start;
    font-style: italic;
}
