   
.novedades{
    width: 60%;
    margin-left: 5em;
    max-width: 600px;
    height: 400px;
    display:inline-table;
    flex-grow:unset;
    
    }
.cajita{
    background-color: aliceblue;
    width: 850px;
    height: 800px;
    border-radius: 50px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    display:inline-table;
}
.photo{
    text-align: center;
    
}

.cajitanew { 
    display: flex;
    border-radius: 100px;
    margin-left: 35%;
    background-color: rgba(107, 42, 238, 0.625);
    width: 400px;
    height: 400px;
}

.cajitanew .items {
    margin-left: 35px;
    margin-top: 50px;
    text-align:center;
    

}

.button {
    margin-top: 13%;
    margin-left: 48%;
}